{% extends '::base.html.twig' %}

{% block menu %}
    {{ parent() }}
    <li class="active">
        <a href="{{ url('comptebancaire') }}"><span class="glyphicon glyphicon-list"> Compte Bancaire</span></a>
    </li>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url('homepage') }}">Accueil</a></li>
    <li class="active">Compte Bancaire</li>
{% endblock %}

{% block pagetitle %}Compte Bancaire{% endblock %}
