{% extends 'BfxmplBudgetBundle:Home:index.html.twig' %}
{% set active_page = "comptebancaire" %}

{% block breadcrumb %}
    <li><a href="{{ url('homepage') }}">Accueil</a></li>
    <li class="active">Compte Bancaire</li>
{% endblock %}

{% block pagetitle %}Compte Bancaire{% endblock %}
