{% extends 'BfxmplBudgetBundle:CompteBancaire:comptebancaire.html.twig' %}

{% block body -%}
    <h2>Création</h2>

    {{ form(form) }}

    <br/>

    <button type="button" class="btn btn-default btn-default">
        <a href="{{ path('comptebancaire') }}">
            <span class="glyphicon glyphicon-chevron-left" /> Retour
        </a>
    </button>
{% endblock %}
