{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% extends 'BfxmplBudgetBundle:CompteComptable:comptecomptable.html.twig' %}

{% block body -%}
    <h2>Modification</h2>

    {{ form(edit_form) }}
    {{ form(delete_form) }}

    <button type="button" class="btn btn-default btn-default">
        <a href="{{ path('comptecomptable') }}">
            <span class="glyphicon glyphicon-chevron-left" /> Retour
        </a>
    </button>
</ul>
{% endblock %}
