{% extends 'BfxmplBudgetBundle:Home:index.html.twig' %}
{% set active_page = "ecriture" %}

{% block breadcrumb %}
    <li><a href="{{ url('homepage') }}">Accueil</a></li>
    <li class="active">Ecriture</li>
{% endblock %}

{% block pagetitle %}Ecriture{% endblock %}
