{% extends '::base.html.twig' %}
{% set navigation_bar = [['homepage', 'Accueil'], ['comptebancaire', 'Compte Bancaire'], ['comptecomptable', 'Compte Comptable'], ['ecriture', 'Ecriture']] %}

{% block menu %}
    {% for item in navigation_bar %}
        <li{% if item[0] == active_page %} class="active"{% endif%}>
            <a href="{{ url(item[0]) }}"><span class="glyphicon glyphicon-list"> {{item[1]}}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block pagetitle %}Bienvenue !!{% endblock %}
